.navbar {
  margin-top: 3em;
}
.title {
  font-size: 2rem;
  font-weight: 400;
}

.nav-a {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 2rem;
  color: black;
  float: right;
}

#projectnav {
  /*text-decoration: underline !important;
  TBD*/
}

.filter-drop {
  font-size: 1rem;
  float: right;
  margin-right: 2rem;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
