@import url("https://unpkg.com/react-gif-player@0.4.2/dist/gifplayer.css");
img {
  height: auto;
  width: 100%;
}

.project-container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "project-content project-info";
  margin-bottom: 10%;
}
.img-container {
  width: 80%;

  overflow: hidden;
}
.project-img {
  width: 100%;
}

.project-content {
  grid-area: project-content;
}

.project-info {
  grid-area: project-info;
}

.gotvideo {
  width: 80%;
}

@media screen and (max-width: 1100px) {
  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 2% !important;
  }

  .gotvideo {
    width: 100%;
  }
  .img-container {
    width: 100%;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr;

    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "project-content"
      "project-info";
    position: relative;
  }

  .project-content {
    grid-area: project-content;
  }

  .project-info {
    grid-area: project-info;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: default;
  text-decoration: underline;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: -10%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.gif-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dashed #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(0 0 0 / 50%);
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  opacity: 1;
  padding: 14px 10px;
  position: absolute;
  right: 72%;
  top: 50%;
  z-index: 100;
}

.gif-button:hover {
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow: 0 0 0 3px rgba(0 0 0 /0.705);
}

@media screen and (max-width: 1247px) {
  .gif-button {
    top: 45%;
  }
}
@media screen and (max-width: 1100px) {
  .gif-button {
    left: 50%;
    right: 50%;
    top: 35% !important;
  }
}
