@import url("https://unpkg.com/react-gif-player@0.4.2/dist/gifplayer.css");
.project-container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "project-content project-info";
  margin-bottom: 10%;
}

.project-img {
  width: 80%;
}

.project-content {
  grid-area: project-content;
}

.project-info {
  grid-area: project-info;
}

.gotvideo {
  width: 80%;
}

@media screen and (max-width: 1100px) {
  /*.project-img {
    width: 100%;
  }*/

  .gotvideo {
    width: 100%;
  }
  .project-container {
    display: grid;
    grid-template-columns: 1fr;

    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "project-content"
      "project-info";
  }

  .project-content {
    grid-area: project-content;
  }

  .project-info {
    grid-area: project-info;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
